.order-filter {
    display: flex;
    gap: 10px;
}

.filter-button {
    border: none;
    padding: 10px 20px;
    background-color: #d3d3d3;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.filter-button.active {
    background-color: #90ee90; /* Light green for active state */
    color: #fff;
}

.filter-button:hover {
    background-color: #b0c4de; /* Light steel blue for hover state */
}

.filter-button.btn-danger {
    background-color: #f08080; /* Light coral */
    color: #fff;
}

.filter-button.btn-primary {
    background-color: #87cefa; /* Light sky blue */
    color: #fff;
}
