.filter-sale-component {
    background-color: #f9fafb;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-sale-status-filters .filter-sale-option {
    background: none;
    border: none;
    font-weight: 500;
    color: #6c757d; /* Màu xám cho trạng thái mặc định */
    cursor: pointer;
    padding: 8px 12px;
    transition: color 0.3s, font-weight 0.3s;
}

.filter-sale-status-filters .filter-sale-option.filter-sale-active {
    color: #28a745; /* Màu xanh lá cây cho trạng thái active */
    font-weight: bold;
    border-bottom: 2px solid #28a745;
}

.filter-sale-status-filters .filter-sale-option:hover {
    color: #28a745;
}

.filter-sale-date-filter .filter-sale-date-label {
    font-weight: bold;
    color: #333;
}

.filter-sale-date-select-group {
    border-radius: 8px;
    padding: 4px;
}

.filter-sale-date-select {
    width: 80px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffffff;
}

.filter-sale-add-new-button {
    font-weight: bold;
    border-radius: 6px;
    padding: 8px 16px;
}
