/* components/Admin/AdminLayout.css */

.admin-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content-area {
    flex-grow: 1; 
    background-color: #f8f9fa;
    padding: 0px !important ;
}

footer {
    margin-top: auto; 
}
