.sales-management-page {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}


.status-filters {
    display: flex;
    gap: 20px;
}

.filter-option {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s;
}

.filter-option.active {
    color: #4CAF50;
    background-color: #e8f5e9;
}

.date-filter {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sales-add-new-button-container {
    display: flex;
    justify-content: flex-end;
}

.filter-sale-add-new-button {
    background-color: transparent;
    color: #28a745;
    border: 2px solid #28a745;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, transform 0.2s;

}

.filter-sale-add-new-button:hover {
    background-color: #28a745;
    /* Màu nền khi hover */
    color: #ffffff;
    /* Màu chữ khi hover */
    transform: translateY(-2px);
    /* Hiệu ứng di chuyển lên */
}

.filter-sale-add-new-button:active {
    background-color: #218838;
    /* Màu nền khi nhấn */
    color: #ffffff;
    transform: translateY(0);
    /* Về vị trí ban đầu */
}