.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f0f0f0;
    margin: 0 auto;
  }
  
  .icon-circle i {
    font-size: 24px;
    color: #000;
  }
  
  .modal-content h2 {
    font-size: 24px;
    margin: 15px 0;
    font-weight: bold;
  }
  
  .modal-content p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
  }
  
  .view-order-btn, .back-home-btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .view-order-btn {
    background-color: #000;
    color: #fff;
  }
  
  .back-home-btn {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  