.related-product-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px; 
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: 0 15px; 
  width: 260px;
}

.related-product-card:hover {
  transform: translateY(-5px);
}

.product-image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-image {
  width: 100%;
  height: 180px; 
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-image-container:hover .main-image {
  transform: scale(1.1); 
}

.product-name {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.discounted-price {
  font-size: 16px;
  font-weight: bold;
  color: #ff0000;
}

.additional-images {
  margin-top: 8px;
}

.additional-images img {
  width: 45px;
  height: 45px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 50%;
  transition: transform 0.2s, border-color 0.2s;
}

.additional-images img:hover {
  transform: scale(1.1);
  border-color: #007bff;
}

.btn-outline-primary {
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  padding: 6px 12px;
  margin-top: 10px;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.prev-arrow {
  left: -20px; 
}

.next-arrow {
  right: -20px; 
}

.slider-arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
