
.sidebar {
    background-color: #d4d4d431;
    color: #000000;
    padding: 15px;
    width: 250px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .category-item {
    position: relative;
    padding: 10px;
  }
  
  .category-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #000000;
  }
  
  .category-item:hover .submenu {
    display: block;
  }
  
  .submenu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #ffffff;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .submenu-item {
    padding: 5px 10px;
    color: #000000;
  }
  
  .submenu-item:hover {
    color: #fff;
    background-color: #555;
  }
  