.notification-modal-overlay {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 2000;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(20px);
}

.notification-modal-overlay.show {
    opacity: 1;
    transform: translateY(0);
}

.notification-modal-overlay.hide {
    opacity: 0;
    transform: translateY(20px);
}

.notification-modal-container {
    background-color: #fff;
    color: #333;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 14px;
    animation: fadeIn 0.3s ease-in-out;
    max-width: 320px;
    width: 100%;
    position: relative;
    z-index: 2001;
}

.notification-modal-title {
    padding-top: 8px;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px 0;
    color: #dc3545;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.notification-modal-description {
    font-size: 14px;
    margin-top: 5px;
    color: #555;
    line-height: 1.4;
}

/* Hiệu ứng fadeIn */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
