/* components/Admin/AdminSidebar.css */

.admin-sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #000000;
    color: white;
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.admin-sidebar.collapsed {
    width: 0;
    overflow: hidden;
}

.sidebar-header {
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    
}

.nav {
    width: 100%;
}

.nav-link {
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    align-items: center; /* Align icon and text vertically */
    width: 100%;
    padding-left: 20px; /* Add left padding for consistency */
    text-decoration: none;
}

.nav-link:hover {
    color: #ffffff;
}

/* Fixed width for icons to align text consistently */
.nav-link .icon {
    width: 20px; /* Fixed width to ensure all text aligns consistently */
    display: flex;
    justify-content: center;
    margin-right: 10px; /* Space between icon and text */
}

.sidebar-footer {
    margin-top: auto; /* Push footer to the bottom */
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
}
