.free-shipping-progress {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.progress-bar {
    position: relative;
    height: 10px;
    border-radius: 5px;
    background-color: #e0e0e0;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    transition: width 0.6s ease;
    /* Smooth transition for the progress bar */
}

.progress.red {
    background-color: #ff4d4d;
    /* Red */
}

.progress.yellow {
    background-color: #ffd700;
    /* Yellow */
}

.progress.green {
    background-color: #4caf50;
    /* Green */
}

.truck-icon {
    font-size: 1.5rem;
    position: absolute;
    top: -30px;
    transform: rotateY(180deg); /* Flip the icon to face left */
    transition: left 0.3s ease; /* Smooth movement */
}
