/* SearchBox.css */

.search-box {
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px; 
    overflow: hidden; 
    margin-bottom: 0px;
}

.search-input {
    border: none;
    border-radius: 30px 0 0 30px; 
    padding: 10px 15px;
    font-size: 1rem;
    color: #495057;
}

.search-input:focus {
    box-shadow: none;
    outline: none; 
}

.search-icon {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 30px 30px 0; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.search-icon i {
    font-size: 1.2rem;
}
