/* src/components/SearchBar/SearchBar.css */

.search-bar-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.input-group {
  position: relative;
  width: 100%;
}

.search-input-field {
  width: 100%;
  
  padding: 10px 15px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 10px !important;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ssearch-icon-bg {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: black;
  background: none;
  padding: 0;
  border: none;
  pointer-events: none; 
  z-index: 2;
}
