/* src/components/SearchBar/SearchBar.css */

.search-bar-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.input-group {
  position: relative;
  width: 100%;
}

.search-input-field {
  width: 100%;
  
  padding: 10px 15px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 10px !important;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ssearch-icon-bg {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: black;
  background: none;
  padding: 0;
  border: none;
  pointer-events: none; 
  z-index: 2;
}


.suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Sản phẩm */
.suggestion-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  transition: background-color 0.2s;
}

.suggestion-item:hover {
  background-color: #f8f9fa;
}

.product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.product-price {
  font-size: 14px;
  color: #dc3545;
  margin-top: 5px;
}

.product-original-price {
  font-size: 12px;
  color: #888;
  text-decoration: line-through;
}
