.search-bar-container {
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.input-group {
  position: relative;
  width: 100%;
}

.search-input-field {
  width: 100%;
  
  padding: 10px 15px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 10px !important;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ssearch-icon-bg {
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: black;
  background: none;
  padding: 0;
  border: none;
  pointer-events: none; 
  z-index: 2;
}
.suggestions-horizontal-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  padding: 10px;
  position: absolute; 
  left: 50%; 
  transform: translateX(-65%); 
  z-index: 1000; 
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  width: 1200px; 
  max-width: 90%;
  overflow-x: auto; 
  white-space: nowrap; 
}

.suggestions-horizontal-container::-webkit-scrollbar {
  height: 6px; /* Giảm chiều cao scrollbar */
}

.suggestions-horizontal-container::-webkit-scrollbar-thumb {
  background: #ccc; /* Màu sắc thanh trượt */
  border-radius: 4px;
}

.suggestions-horizontal-container::-webkit-scrollbar-track {
  background: #f9f9f9; /* Màu nền của thanh cuộn */
}
/* Container chứa thanh trượt và 2 nút */
.slider-wrapper {
  position: relative;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Nút trượt trái/phải */
.slider-btn {
  position: absolute;
  top: 24%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 2000; /* Đảm bảo nằm trên thanh trượt */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-btn.left {
  left: 165px; /* Khoảng cách với mép bên trái */
}

.slider-btn.right {
  right: 510px; /* Khoảng cách với mép bên phải */
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
