.success-modal-overlay {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Đặt giá trị cao để nổi bật hơn */
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateY(20px);
}

.success-modal-overlay.show {
  opacity: 1;
  transform: translateY(0);
}

.success-modal-overlay.hide {
  opacity: 0;
  transform: translateY(20px);
}

.success-modal-container {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 16px;
  animation: fadeIn 0.3s ease-in-out;
  max-width: 350px;
  width: 100%;
  position: relative; /* Đảm bảo z-index trong stacking context */
  z-index: 2001; /* Đặt container cao hơn overlay */
}

.success-modal-title {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: green;
  margin: 0 0 10px 0;
}

.success-modal-description {
  font-size: 16px;
  margin-top: 5px;
  opacity: 0.8;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
